<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heegyeong.accessibilityservice">

    <!-- Accessibility Service를 사용하기 위한 Permission -->
    <uses-permission android:name="android.permission.ACTION_ACCESSIBILITY_SETTINGS" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- 부팅 시에 브로드 캐스트를 받기 위한 Permission -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 핸드폰 원래의 잠금 안보이기, 전화 왔을 때는 잠금 안하기 위한 Permission -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

       <!-- Log를 읽어서 백그라운드에서도 앱이 실행되는지 감지하기 위한 Permission -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- GPS 정보. 위도 경도를 가져오기 위한 Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SMS 전송을 위한 Permission -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 카메라 스토리지(저장) 사용을 위한 Permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 카메라 사용을 위한 Permission -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />

    <!-- 강제로 소리를 키기 위한 permission -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- php 파일 전송을 위한 permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 배터리 잔량을 얻기 위한 Permission -->
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="코난"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".AccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".ScreenLockService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".CheckPositionService"
            android:enabled="true"
            android:exported="true"></service>
        <!-- screen 뒤로 들어갔을 때 해당 Activity를 죽이기 위해 noHistory 속성을 true로 설정한다. -->
        <activity
            android:name=".PassSetting"
            android:label=""
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassChecking"
            android:label=""
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputPass"
            android:label=""
            android:noHistory="false"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppLockSetting"
            android:label=""
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraStart"
            android:label=""
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchPassMail"
            android:label="이메일로 찾기"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SearchPassQA"
            android:label="질문으로 찾기"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PHPConnection"
            android:label="PHP Connection Activity"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".StartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="STARTReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".OtherSetting"
            android:label="Setting"
            android:noHistory="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AutoSendSMS"
            android:label="AutoSendSMS"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BTCheck"
            android:label="BTCheck"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".ScreenReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="ScreenReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SMSReceiver">
            <intent-filter android:priority="9999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>



    </application>

</manifest>
